
header{
	height: 60px;
	text-align: center;
	background-color: #333;
	color: #fff;
	text-transform: uppercase;
	h1{
		font-size: 20px;
		font-weight: normal;
		margin: 0;
		padding: 18px 0 0 0;
	}
}
.user-title{
	padding: 10px 0;
}
li{
	cursor: pointer;
}
// MAPS
.angular-google-map-container{
	height: 500px;
}
.angular-google-map{
	width: 100%;
	height: 100%;
	margin: auto 0px;
}
// WEATHER
.weather-wrapper{
	text-align: center;
	margin: 15px 0;
	.title{
		display: block;
	}
	.value{
		display: block;
		font-weight: bold;
		font-size: 18px;
		margin-top: 15px;
		color: #333;
	}
	.value-description{
		display: block;
	}
}