<h3 class="user-title">{{title}}</h3>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<ul>
			<li ng-click="userDetails(user)" ng-repeat="user in users">{{user.firstname}} {{user.lastname}}</li>
		</ul>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
		<div ng-if="showDetails" class="item-details">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<td>First Name</td>
						<td>Last Name</td>
						<td>Gender</td>
						<td>City (optional)</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ selected.firstname }}</td>
						<td>{{ selected.lastname }}</td>
						<td>{{ selected.gender }}</td>
						<td>{{ selected.city }}</td>
					</tr>
				</tbody>
			</table>
			<div ng-if="selected.weather">
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<div class="weather-wrapper">
							<span class="title">Current temperature</span>
							<span class="value">{{ place.item.condition.temp }}</span>
							<span class="value-description">{{ place.item.condition.text }}</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<div class="weather-wrapper">
							<span class="title">Wind speed</span>
							<span class="value">{{ place.wind.speed }}</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<div class="weather-wrapper">
							<span class="title">Pressure</span>
							<span class="value">{{ place.atmosphere.pressure }}</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<div class="weather-wrapper">
							<span class="title">Humidity</span>
							<span class="value">{{ place.atmosphere.humidity }}</span>
						</div>
					</div>
				</div>
			</div>
			<div ng-if="selected.lat">
				<ui-gmap-google-map center="map.center" zoom="map.zoom">
					<ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id">
				</ui-gmap-google-map>
			</div>
		</div>
	</div>
</div>